CSE-111 · Fall 2019 · Lab 0 · Unix, C++, Makefile               1 of 1
$Id: lab0-intro-unix.mm,v 1.52 2019-09-12 15:20:39-07 - - $
PWD: /afs/cats.ucsc.edu/courses/cse111-wm/Assignments/lab0-intro-
unix
URL: http://www2.ucsc.edu/courses/cse111-wm/:/Assignments/
lab0-intro-unix/

This lab will not be graded and there is no credit for it.  However,
it is important you understand the Unix command line and submit proce-
dure before you actually use it in the first assignment.

Make sure you know how to submit files.  Submit these files to lab0.
Verify that the submit actually worked by looking in the submit direc-
tory for your username.  The find(1) command is very useful for things
like this.

The submit command copies your files into a directory
   /afs/cats.ucsc.edu/class/cse111-wm.f19/lab0/$USER
and prefixes each file with a sequence number.  You can see the names
of the files, but not their contents.  The actual syntax of the submit
command is:
   submit cse111-wm.f19 lab0 files...

Prior experience with Unix is assumed.

It is assumed that you know the following:
   · The C language, from a prerequisite course.
   · Object-oriented programming, classes, and inheritance.
   · General use of Linux commands, and specifically submit and check-
     source.
   · Use of environment variables and setting the $PATH variable.
   · Construction and use of Makefiles.
   · A code archival system such as rcs, cvs, svn, git, etc.

Attend a lab section to ask questions if you don't understand how sub-
mit and the Unix command line in general works.  The TA can explain
such things.  Also read the submit checklist:  Syllabus/submit-check-
list.

Be sure that any textbook or other reference to C++ includes at least
C++11 on its cover documentation, and preferably C++14, or possibly
C++17.  Books that discuss only C++98 should be considered obsolete.
Whenever you need to look up information about C++, use Google, or
look at The C++ Resources Network:  http://www.cplusplus.com/.

If you are doing development on your own computer, make sure that you
are using the latest version of g++ or a newer version.  Make sure
that any code you develop compiles and runs on unix.ucsc.edu, since
that is the only environment the graders will be using.  If you are
developing on your own system, make sure that the compiler you are us-
ing is C++14 compliant.

-bash-1$ which g++
/opt/rh/devtoolset-8/root/usr/bin/g++
-bash-2$ g++ --version | grep -i g++
g++ (GCC) 8.2.1 20180905 (Red Hat 8.2.1-3)

The subdirectory code/ shows a main program and a hello class and il-
lustrates various features of C++ that will be covered later in the
course.

